body {
    transition: 0.1s all;
    background: white;
}

.vuper-main {
    background: white;
    transition: 0.3s all;

    &--open {
        height: 100vh;
        width: 100%;
        background: white;
        transform: scale(0.9840881272949816)
            translate3d(0, calc(env(safe-area-inset-top) + 14px), 0);
        border-top-right-radius: 14px;
        border-top-left-radius: 14px;
    }
}

.vuper .vuper-overlay {
    transition: 1s cubic-bezier(0.32, 0.72, 0, 1);
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &--open {
        opacity: 1;
        visibility: visible;
    }
}

.vuper .vuper-wrapper {
    user-select: none;
    transition: 0.5s cubic-bezier(0.32, 0.72, 0, 1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: -3000px;
    width: 100%;
    height: 96%;
    z-index: 9999;
    padding: 20px 30px;
    background-color: #fff;

    animation-duration: 0.5s;
    animation-name: slideFromBottom;

    &.dragging {
        transition: none;
    }

    &--open {
        // bottom: 0;
        animation: slideInFromBottom 0.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
    }

    // Анимация закрытия
    &--close {
        animation: slideOutToBottom 1.5s cubic-bezier(0.32, 0.72, 0, 1) forwards;
    }

    &--divider {
        position: absolute;
        top: 5px;
        left: calc(50% - 30px);
        width: 60px;
        height: 4px;
        border-radius: 25px;
        background-color: #c2b1b1;
    }
}

@keyframes slideInFromBottom {
    0% {
        bottom: -3000px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes slideOutToBottom {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -3000px;
    }
}
